<p><h1>Welcome to themortgagemeter.com.</h1></p>
<p><h2>This site provides up-to-date information on the best mortgage deals in "Best Buys", and you can see the which way mortgage deals are going in "Latest Changes"</h2></p>
<p><h2>If you're looking for a mortgage and want to see where rates might be headed, or want to find the best deal, or even if you're an Estate Agent looking to help out a buyer, this site has something for you.</h2></p>
                <p>This site is devoted to the tracking retail UK mortgage data. This data will track retail mortgage data both in real time, and historically. Real-time data can be used to determine where the best mortgage deal is, and historical data can be used to help inform decisons on whether it is a good time to fix mortgage rates or not.</p>
                <p>In the longer term, this site will track and anticipate official figures on mortgage lending provided by national institutions after the fact. This will be extended to other financial products, eg savings rates, annuity rates, corporate bond rates</p>
                <p>Click <a href="#/best_buys/">here</a> for the best mortgage rates.</p>
                <p>Click <a href="#/latest_changes/">here</a> for the latest changes to published mortgage rates.</p>

